* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
}

a {
  text-decoration: none;
}

.link{
  text-decoration: underline;
  cursor: pointer;
}

/* Banner */
.banner {
  position: relative;
  width: 100%;
  height: 15vh;
  overflow: hidden;
}

.banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 30%;
  z-index: -1;
  filter: brightness(0.9);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5vw;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: transparent;
  transition: background 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
}

header.scrolled {
  background: #F8FAFC;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
header.scrolled .logo-text {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* Logo and text */
.logo-container {
  position: relative;
  display: inline-block;
  max-width: 400px;
  text-align: center;
  margin-left: 80px;
}

.logo {
  display: block;
  width: 100%;
  height: auto;
}

/* .logo-text {
  position: absolute;
  top: 100%;
  right: 0;
  text-align: right;
  color: #0014b9;
  font-weight: 900;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  line-height: 1.4;
  white-space: nowrap;
} */

/* Navigation */
.nav__links {
  display: flex;
  list-style: none;
  gap: 2vw;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  margin-right: 80px;
}

header.scrolled .nav__links li a {
  color: #3073c0;
  text-shadow: none;
}

.nav__links li a {
  color: #F8FAFC;
  font-size: 1.7rem;
  font-weight: 900;
  text-decoration: none;
  transition: all 0.3s ease;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease, color 0.3s ease;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); */
}

.nav__links li a:hover, .nav__links li a.active, header.scrolled .nav__links li a:hover, header.scrolled .nav__links li a.active{
  color: #0014b9;
  border-bottom-color: #0014b9;
}

/* MENU BURGER */
.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 1001;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #0014b9;
  transition: 0.3s;
}

/* OVERLAY MENU TELEFONO */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 1000;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 8rem;
  box-sizing: border-box;
  overflow: hidden;
}

body.menu-open {
  overflow: hidden;
  height: 100vh;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.mobile-menu ul li {
  margin: 1.5rem 0;
}

.mobile-menu ul li a {
  font-size: 2rem;
  font-weight: 900;
  color: #0014b9;
  text-decoration: none;
}

.close-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: none;
  border: none;
  font-size: 3rem;
  color: #0014b9;
  cursor: pointer;
}

.burger.hidden {
  display: none;
}

/* FOOTER */
footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1.3rem;
  padding: 100px 100px;
  background-color: #327cd7;
  color: rgba(255, 255, 255, 0.80);
}

footer img {
  margin-top: 50px;
}

footer h2 {
  color: #0014b9;
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 600;
}

footer a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.80);
}

footer p,
footer a,
footer address {
  margin: 10px 0;
}

.footer-domanda,
.footer-link,
.footer-vetrina,
.footer-socials {
  max-width: 300px;
  min-width: 200px;
}

.footer-domanda .contatto {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-domanda i{
  color: #0014b9 !important;
}

.contatto em {
  margin-left: 30px;
}

.footer-socials i {
  margin: 10px 18px 0 0;
  color: rgba(255, 255, 255, 0.80);
}

.copyright {
  color: rgba(255, 255, 255, 0.80);
  text-align: center;
  font-size: 1rem;
  width: 100%;
  margin-top: auto;
  padding-top: 20px;
}

/* RESPONSIVNESS */

/* LAPTOP PICCOLI */
@media (max-width: 1520px){
  nav a{
    font-size: 1.3rem !important;
  }
  .logo-container {
    max-width: 300px;
  }
}

/* TABLET e più piccoli */
@media (max-width: 1024px) {
  html, body{
    overflow-x: hidden;
  }
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5vw;
    width: 100%;
  }

  .logo-container {
    max-width: 250px;
  }

  .nav__links {
    display: none;
  }

  .burger {
    display: flex;
  }
}

/* TELEFONO */
@media (max-width: 640px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 5vw;
    max-width: 640px;
  }

  .logo-container {
    max-width: 200px;
    margin: 0;
  }

  .logo-text {
    display: none !important;
  }

  .burger {
    display: flex;
  }

  footer{
    padding: 80px 10px;
  }
  footer h2{
    font-size: 20px;
  }

  footer p, a, address{
    font-size: 1rem;
  }
  .footer-vetrina, .footer-link, .footer-socials{
    margin-left: 30px;
    margin-bottom: 50px;
  }

  .footer-domanda{
    margin-bottom: 50px;
  }

  .footer-socials img{
    width: 100px;
    margin-left: 20%;
  }

  .snowflake{
    display: none;
  }
  .copyright{
    text-align: left;
    margin-left: 25px;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}